.book-details {
  font-size: small;
  background-color: lightcyan;
  margin: 5px;
  padding: 5px;
}

.book-details ul {
  border: 2px lightseagreen solid;
  margin: 5px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.book-details li {
  display: block;
  margin: 5px;
  padding: 0;
}
