.register-book {
  margin: 5px;
  padding: 5px;
  background-color: lightcyan;
  box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 0px 0 #b9b9b9,
    0 5px 0 rgba(125, 125, 125, 0.2), 0 6px 1px rgba(0, 0, 0, 0.2),
    0 0 5px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.2),
    0 0 4px white, 0 0px 3px white, 1px 1px 5px rgba(255, 155, 0, 0.37),
    1px 1px 10px rgba(102, 60, 0, 0.5);
  width: 400px;
}

.register-book-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}
